<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Required Meta Tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Title -->
        {% block head_metadata %}{% endblock %}
        <!--App manifest-->
        <link rel="manifest" href="{{ url_for('static', filename='assets/js/manifest.json') }}">
        <!--Favicon-->
        <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon/favicon.ico') }}" type="image/x-icon">
        <meta name="theme-color" content="#ffffff">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='assets/img-min/favicon/apple-icon.png') }}">
        <!--Google Fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&amp;display=swap" rel="stylesheet">
        <!--Styles-->
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/theme.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        {% block body_stylesheet %}{% endblock %}
        <!--Minify Styles-->
        <!-- <link rel="stylesheet" href="../../dist/css/bundle.min.css"> -->
    </head>
    <body class="bg-repeat font-family">
        <!--Skippy-->
        <a id="skippy" class="visually-hidden-focusable" href="#content">
            <div class="container">
                <span class="skiplink-text">Skip to main content</span>
            </div>
        </a>

        <!--Background image-->
        <div class="bg-image"></div>

        <!-- ========== WRAPPER ============== -->
        <div class="wrapper">
            <div class="rani"></div>
            <!-- Menu -->
            <nav class="navbar navbar-expand-sm fixed-top bg_greenery navbar-dark">
    <div class="container">
		<a class="navbar-brand" href="{{ url_for('home_page')}}">
			<img class="logo-image" src="{{ url_for('static', filename='img/logo.svg') }}"/>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#NavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="NavbarSupportedContent">
		<ul class="navbar-nav">
			<li class="nav-item">
      			<a class="nav-link altros" href="/">Home</a>
    		</li>
			<li class="nav-item">
      			<a class="nav-link altros" href="{{ url_for('category_page', category_url='operating_system') }}">Operating System</a>
    		</li>
			<li class="nav-item">
      			<a class="nav-link altros" href="{{ url_for('category_page', category_url='foss') }}">FOSS</a>
    		</li>
			<li class="nav-item">
      			<a class="nav-link altros" href="{{ url_for('category_page', category_url='programming_language') }}">Programming Language</a>
    		</li>
			<li class="nav-item">
      			<a class="nav-link altros" href="{{ url_for('category_page', category_url='interview_questions') }}">Interview Question</a>
    		</li>
		</ul>
	</div>
	</div>
</nav>
            <!-- End Menu -->
            {% block body_content %}{% endblock %}
            <!--Footer start-->
            <footer>
                <!--Footer content-->
                <div id="footer" class="footer-dark bg-dark bg-footer py-5 px-3">
                    <div class="container">
                        <div class="row">
                            <!-- left widget -->
                            <div class="widget col-md-4">
                                <h3 class="h5 widget-title border-bottom border-smooth">About Us</h3>
                                <div class="widget-content">
                                    <p>
                                        Technology and innovation makes the better lively hood; we are the part of
                                        giving knowledge as a service from a beginners to an extended professionals.
                                        We provide tutorials which makes you to learn many thing easily without
                                        any difficulties. We are made with love and makes other love the world.
                                    </p>
                                </div>
                            </div>
                            <!-- center widget -->
                            <div class="widget col-sm-6 col-md-4">
                                <h3 class="h5 widget-title border-bottom border-smooth">Categories</h3>
                                <div class="posts-list">
                                    <!--post list-->
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Operating System</a></li>
                                        <li><a href="#">FOSS</a></li>
                                        <li><a href="#">Programming</a></li>
                                        <li><a href="#">Interview Questions</a></li>
                                    </ul>
                                    <!--End post list-->
                                </div>
                            </div>
                            <!-- right widget -->
                            <div class="widget col-sm-6 col-md-4">
                                <h3 class="h5 widget-title border-bottom border-smooth">Contact Us</h3>
                                <div class="posts-list">
                                    <!--post list-->
                                    <p>something@gmail.com</p>
                                    <!--End post list-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End footer content-->
                <!-- footer copyright menu -->
                <div class="footer-copyright bg-secondary">
                    <div class="container">
                        <!--Navbar-->
                        <nav class="navbar navbar-expand navbar-dark px-0">
                            <!-- footer copyright -->
                            <ul class="navbar-nav ms-auto text-center">
                                <li class="d-inline navbar-text">Copyright &copy; BootNews - All rights reserved.</li>
                            </ul>
                            <!-- end footer copyright -->
                        </nav>
                        <!-- End Navbar -->
                    </div>
                </div>
                <!--end copyright menu-->
            </footer>
            <!-- End Footer -->
        </div>
        <!-- ========== END WRAPPER ========== -->

        <!--Back to top-->
        <a class="back-top btn btn-light border position-fixed r-1 b-1" href="#">
            <svg class="bi bi-arrow-up" width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V4a.5.5 0 01.5-.5z" clip-rule="evenodd"></path>
                <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L8 3.707 5.354 6.354a.5.5 0 11-.708-.708l3-3z" clip-rule="evenodd"></path>
            </svg>
        </a>

        <!-- Bootstrap Bundle JS -->
        <script src="{{ url_for('static', filename='assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
        <!--Vendor js-->
        <script src="{{ url_for('static', filename='assets/vendor/hc-sticky/dist/hc-sticky.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/vendor/flickity/dist/flickity.pkgd.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/vendor/vanilla-lazyload/dist/lazyload.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/vendor/smoothscroll-for-websites/SmoothScroll.js') }}"></script>
        <!--Theme js-->
        <script src="{{ url_for('static', filename='assets/js/theme.js') }}"></script>
        <!--Minify js-->
        <!-- <script src="../../dist/js/bundle.min.js"></script> -->
        <!-- <script src="{{ url_for('static', filename='js/base.js') }}"></script> -->
        {% block body_script %}{% endblock %}
    </body>
</html>

